$body-bg: #f5f5f5;
$primary: #bb5a00;

// Borders
$border-radius: 0.15rem;
$border-width: 2px;

// Font
$font-family-sans-serif: "Helvetica Neue", "Roboto", -apple-system, sans-serif;
$headings-font-family: Georgia, 'Times New Roman', Times, serif;

@import "../../node_modules/bootstrap/scss/bootstrap";

.navbar .navbar-brand {
    // font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight:600;
}

.navbar .nav-link {
  color: #fff;
}

// Set the border color of the search input within the .navbar
.navbar .form-control {
    // The border color should be a tinted version of the primary color
    border-color: shade-color($primary, 30%);
}

.navbar .btn {
    // The border color should be a tinted version of the primary color
    background-color: tint-color($primary, 30%);
    padding:0;
    padding-left:5vw;
    padding-right:5vw;
}

